Package                       Version       Editable project location
----------------------------- ------------- -------------------------------------------
setuptools                    67.8.0
wheel                         0.40.0
numpy                         1.24.3
scipy                         1.10.1
scikit-learn                  1.3.0
scikit-optimize               0.9.0         C:\code\ghcwm\scikit-optimize
pyaml                         23.7.0
joblib                        1.2.0

